*, *::before, *::after {
	box-sizing: border-box;
}

table {
	table-layout: auto;
}

.progress-bar {
	position: relative;
	width: 200px;
	height: 1.5em;
	background-color: #f7f7f7;
	border-radius: 1.5em;
	color: white;
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .2em;
	top: .2em;
	bottom: .2em;
	width: calc(var(--width, 0) * 1%);
	min-width: .4rem;
	max-width: calc(100% - .4em);
	border-radius: 1em;
	padding: .5em;
}

.f4::before {
  background-color: #7B7256;
}

.t5::before {
  background-color: #7D73B4;
}

.m7::before {
  background-color: #F29FC0;
}

.m8::before {
  background-color: #427BBF;
}

.m9::before {
  background-color: #FFD400;
}

.m5::before {
  background-color: #672C65;
}

.m12::before {
  background-color: #CAD300;
}

.m4::before {
  background-color: #E91977;
}

.m1::before {
  background-color: #EF1C24;
}

b.f4 {
  color: #7B7256;
}

b.t5 {
  color: #7D73B4;
}

b.m7 {
  color: #F29FC0;
}

b.m8 {
  color: #427BBF;
}

b.m9 {
  color: #FFD400;
}

b.m5 {
  color: #672C65;
}

b.m12 {
  color: #CAD300;
}

b.m4 {
  color: #E91977;
}

b.m1 {
  color: #EF1C24;
}

b.m2 {
  color: #009943;
}

b.m3 {
  color: #00A9E2;
}

b.m6 {
  color: #C9AB78;
}

b.m11 {
  color: #AC5391;
}