@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap";

body {
    font-family: "Inter";
    background-color: var(--primary-color);
}

html {
	background-color: var(--primary-color);
}

img {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #1f2937;
}

::-webkit-scrollbar-track {
	background-color: var(--body-bg);
}

@media only screen and (min-width: 640px) {
	.padding {
        margin-top: 1%;
		padding-left: 20%;
		padding-right: 20%
	}
    #nopc {
        display: none
    }
}

@media only screen and (max-width: 640px) {
	.padding {
        margin-top: 1%;
		padding-left: 3%;
		padding-right: 3%
	}
    #nomobile {
        display: none
    }
}

a:hover {
    color: unset;
}

.navbar {
    background-color: var(--primary-color);
    color: white
}

.nav-item {
    font-weight: 500;
}

.hero {
    margin-top: 6%;
}

.hero-top {
    font-size: 32px;
    display: block;
    font-weight: 700;
}

.hero-top-color {
    font-size: 32px;
    color: #286cff;
    font-weight: 700;
}

.ayrac {
    font-size: 19px;
    display: block;
    color: #2a3d65
}

.hero-bottom {
    font-size: 19px;
    display: block;
}

.hero-lanyard {
    font-size: 15px;
    display: block;
}

.pr {
    margin-top: 5%;
}

.pr-bottom {
    font-size: 17px;
    display: block;
}

.github-card {
    background-color: #1e293b;
}

.footer-text {
    font-size: 15px;
    display: block;
}

.footer {
    margin-top: 5%;
}

.techstack {
    margin-top: 5%;
}

.techstack-bottom {
    font-size: 17px;
    display: block;
}

.pr-card {
    background-color: #151d2f;
}

.pnf {
    margin-top: 6%;
}

.pnf-bottom {
    font-size: 19px;
    display: block;
}

.no-dec:hover {
    text-decoration: none;
    text-overflow: none;
}

#bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding:15px;
}

.hero-btn-gradient {
    background-image: linear-gradient(to right,#00ffff ,#ff00ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
    height: 100vh;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


:root {
    --primary-color: #111827;
}